<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="imagen">
        <nav><input placeholder="Barra de busqueda" type="text"></nav>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <div>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <h2>Sección: Basado en tu última visita</h2>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h4>$6.770</h4>
            <h4>40% off</h4>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h4>$230.000</h4>
            <h4>20% off</h4>
            <h4>MacBook Pro 2019</h4>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h4>$70.500</h4>
            <h4>10% off</h4>
            <h4>Samsung Galaxy S10</h4>
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h4>$23.200</h4>
            <h4>5% off</h4>
            <h4>SmartTv Samsung 43"</h4>
        </section>
        <br><br>
        <section>
            <h2>Sección de Ofertas</h2>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h4>$6.770</h4>
            <h4>40% off</h4>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h4>$230.000</h4>
            <h4>20% off</h4>
            <h4>MacBook Pro 2019</h4>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h4>$70.500</h4>
            <h4>10% off</h4>
            <h4>Samsung Galaxy S10</h4>
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h4>$23.200</h4>
            <h4>5% off</h4>
            <h4>SmartTv Samsung 43"</h4>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>

</html>